# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Christian Bruckmayer
  email = christian.bruckmayer@shopify.com
  signingkey = D6BA0622D3A4D7EE5EFA6DEEFD05603FBE421262

[commit]
gpgsign = true

[alias]
	co = checkout
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ci = commit
	c = commit -m
	br = branch
	cob = checkout -b
	sl = stash list
	sp = stash pop
	s = stash
	up = !git fetch upstream && git rebase upstream/master
	ir = rebase -i origin/master
	pushf = push --force-with-lease
        amend = commit --amend -C HEAD
        dif = diff
        branches = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[gpg]
	program = gpg
[pager]
	branch = false
[core]
	excludesfile = /Users/cbruckmayer/.gitignore_global
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2

[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[credential]
	helper = 
	helper = store --file /opt/dev/var/private/git_credential_store
